asgiref==3.8.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
da_pkg_resources==0.0.1
Django==5.1.2
et_xmlfile==2.0.0
idna==3.10
openpyxl==3.1.5
pillow==11.0.0
razorpay==1.4.2
reportlab==4.2.5
requests==2.32.3
setuptools==75.5.0
sqlparse==0.5.1
sr==0.1.0
stripe==11.3.0b3
typing_extensions==4.12.2
urllib3==2.2.3
